{{ define "main" }}
{{ range page.Sections }}
<section class="card-topic">
    <h2>Section: {{ .LinkTitle }}</h2>
    <div class="card-container">
        {{ range .RegularPages }}
        <div class="card">
            <h3>{{ .Title }}</h3>
            <small>{{ .Date }}</small>
            <div class="card-extra">
                Summary ... 
                <a href="{{ .RelPermalink }}">Read More</a>
            </div>
        </div>
        {{ end }}
    </div>
</section>
{{ end }}

<section class="card-topic">
    <h2>Section: All</h2>
    <div class="card-container">
        {{ range .RegularPagesRecursive }}
        <div class="card">
            <h3>{{ .Title }}</h3>
            <small>{{ .Date }}</small>
            <div class="card-extra">
                Summary ... 
                <a href="{{ .RelPermalink }}">Read More</a>
            </div>
        </div>
        {{ end }}
    </div>
</section>

{{ end }}
