$nav-background: #111
$nav-color: #AAA
$nav-color-hover: #CCC

nav
  color: $nav-color
  background-color: $nav-background
  display: flex
  justify-content: space-between
  align-items: center
  padding: 1rem 2rem
  position: relative
  .logo
    font-size: 1.5rem
    font-weight: bold
  .menu-toggle
    display: none
    font-size: 1.5rem
    cursor: pointer
  .nav-links
    list-style: none
    display: flex
    gap: 2rem
    li
      a
        color: $nav-color
        text-decoration: none
        font-size: 1rem
        transition: color 0.3s
        transition: font-weight 0.3s
      a:hover
        color: $nav-color-hover
        font-weight: bold
  @media (max-width: 768px)
    .nav-links
      flex-direction: column
      position: absolute
      top: 100%
      right: 0
      background-color: $nav-background
      width: 200px
      display: none
      padding: 1rem
    .nav-links.active
        display: flex
    .menu-toggle
      display: block
